<div class="card bg-card">
  <div class="card-body">

    <h1 class="text-lg font-semibold mb-4">Select one or more:</h1>

    <div *ngFor="let metric of allMetrics" class="mb-4">
      <div class="flex items-center">
        <input type="checkbox" id="{{ metric.name }}" [(ngModel)]="metric.isSelected" (click)="onCheckboxChange(metric)"
               class="hidden">
        <label for="{{ metric.name }}"
               [ngClass]="{'bg-button-selected text-white': metric.isSelected, 'bg-button-unselected text-black': !metric.isSelected}"
               class="px-4 py-2 border rounded-full cursor-pointer transition duration-300 ease-in-out hover:badge-warning">
          {{ metric.name }}
        </label>
      </div>

      <div *ngIf="metric.isSelected" class="mt-2">
        <div *ngFor="let value of metric.values" class="flex items-center">
          <input type="radio" [name]="metric.name" [value]="value" [(ngModel)]="metric.selectedValue"
                 (change)="onRadioChange(metric, value)" class="mr-2">
          <span>{{ value }}</span>
        </div>
      </div>
    </div>
<button (click)="updateSelectedMetrics()"></button>
  </div>
</div>


