<auth-card cardTitle="Sign Up" [hoverable]="false"
          [ngClass]="{'flex flex-col justify-around w-[100%] absolute xl:w-[30rem] xl:h-[30rem] xl:rounded-2xl xl:shadow-lg': true,
           'xl:h-[38rem]': passwordField.matches(':focus')
          }">
  <p class="mb-3">In order to use Vital, please log in or register.</p>

  <!-- E-mail -->
  <p [hidden]="!(registerForm.controls.email.invalid && emailField.matches(':focus')) || getEmailErrorMessage() === ''"
     class="text-error self-center">{{ getEmailErrorMessage() }}</p>
  <input type="email" placeholder="E-mail address" class="input input-bordered input-primary" aria-label="Email"
         [formControl]="registerForm.controls.email"
         [class.input-error]="registerForm.controls.email.invalid && registerForm.controls.email.touched" #emailField
  >

  <!-- Password -->
  <app-password-input #passwordInput>
    <input type="password" placeholder="Password" class="input input-bordered input-primary mb-1 w-full"
           aria-label="Password"
           [formControl]="registerForm.controls.password"
           [class.input-error]="registerForm.controls.password.invalid && registerForm.controls.password.touched"
           [type]="passwordInput.passwordVisible ? 'text' : 'password'"
           #passwordField
    >
  </app-password-input>
  <div [hidden]="!passwordField.matches(':focus')">
    <ul class="list-disc list-inside">
      <li
        [ngClass]="{'text-primary-content': !passwordRulesMet.lengthCondition, 'text-success': passwordRulesMet.lengthCondition}">
        At least 6 characters
        <span *ngIf="passwordRulesMet.lengthCondition">&#x2713;</span>
      </li>
      <li
        [ngClass]="{'text-primary-content': !passwordRulesMet.uppercaseCondition, 'text-success': passwordRulesMet.uppercaseCondition}">
        At least 1 uppercase letter
        <span *ngIf="passwordRulesMet.uppercaseCondition">&#x2713;</span>
      </li>
      <li
        [ngClass]="{'text-primary-content': !passwordRulesMet.lowercaseCondition, 'text-success': passwordRulesMet.lowercaseCondition}">
        At least 1 lowercase letter
        <span *ngIf="passwordRulesMet.lowercaseCondition">&#x2713;</span>
      </li>
      <li
        [ngClass]="{'text-primary-content': !passwordRulesMet.digitCondition, 'text-success': passwordRulesMet.digitCondition}">
        At least 1 digit
        <span *ngIf="passwordRulesMet.digitCondition">&#x2713;</span>
      </li>
      <li
        [ngClass]="{'text-primary-content': !passwordRulesMet.specialCondition, 'text-success': passwordRulesMet.specialCondition}">
        At least 1 special character
        <span *ngIf="passwordRulesMet.specialCondition">&#x2713;</span>
      </li>
    </ul>
  </div>

  <!-- Repeat password -->
  <app-password-input #repeatPasswordInput>
    <input type="password" placeholder="Repeat password" class="input input-bordered input-primary mb-1 w-full"
           aria-label="Repeat password"
           [formControl]="registerForm.controls.repeatPassword"
           [class.input-error]="registerForm.controls.repeatPassword.invalid && registerForm.controls.repeatPassword.touched"
           [type]="repeatPasswordInput.passwordVisible ? 'text' : 'password'"
    >
  </app-password-input>
  <p class="text-error"
     [hidden]="!(registerForm.invalid && registerForm.controls.email.valid && registerForm.controls.password.valid)">
    Passwords do not match.</p>

  <!-- Register button -->
  <a href="/forgot-password" class="text-accent self-end mb-1">Forgot password?</a>
  <button class="btn btn-accent" (click)="register()">Sign Up</button>
  <p class="text-center">Already have an account? <a href="javascript:void(0)" (click)="redirectToLogin()"
                                                     class="text-accent">Login</a></p>
</auth-card>
