<div class="flex w-full h-full justify-center items-start xl:relative">
  <div class="w-[95%] pt-5
     md:w-[80%]
     lg:w-[70%]
     xl:w-full xl:pt-0">
    <app-card cardTitle="Verify Email"
              [hoverable]="false"
              class="flex flex-col justify-around
        w-[100%]
        xl:absolute lg:top-[20%] xl:right-[10%]
        xl:w-[30rem] xl:h-[30rem] xl:rounded-2xl xl:shadow-xl">

      <form (ngSubmit)="verifyEmail()" #verifyEmailForm="ngForm">
        <div class="form-group hidden">
          <label for="userId">User ID</label>
          <input type="text"
                 id="userId"
                 name="userId"
                 [(ngModel)]="dto.userId"
                 required
                 class="form-control">
        </div>

        <div class="form-group hidden">
          <label for="token">Token</label>
          <input type="text"
                 id="token"
                 name="token"
                 [(ngModel)]="dto.token"
                 required
                 class="form-control">
        </div>

        <button type="submit" class="btn btn-primary"
                [disabled]="!verifyEmailForm.form.valid">
          Submit
        </button>
      </form>

    </app-card>
  </div>
</div>
