<div class="flex w-full h-full justify-center items-start xl:relative">
  <app-card cardTitle="Verification"
            class="w-full
        xl:absolute lg:top-[20%] xl:right-[10%]
        xl:w-[30rem] xl:h-[30rem] xl:rounded-2xl xl:shadow-xl">

    <div class="flex flex-col h-full w-full justify-between">
      <div>
        <p>Welcome to Vital!</p>
        <br>
        <p>Thank you for signing up. There is only one step remaining, before you can start using your Vital account.</p>
        <br>
        <p>In order to get access, please, verify your e-mail address by clicking the button below.</p>
      </div>

      <form (ngSubmit)="verifyEmail()" #verifyEmailForm="ngForm">
        <div class="form-group hidden">
          <label for="userId">User ID</label>
          <input type="text"
                 id="userId"
                 name="userId"
                 [(ngModel)]="dto.userId"
                 required
                 class="form-control">
        </div>

        <div class="form-group hidden">
          <label for="token">Token</label>
          <input type="text"
                 id="token"
                 name="token"
                 [(ngModel)]="dto.token"
                 required
                 class="form-control">
        </div>

        <button type="submit" class="btn btn-accent w-full"
                [disabled]="!verifyEmailForm.form.valid">
          Verify e-mail address
        </button>
      </form>

    </div>
  </app-card>
</div>
