<div class="flex w-full h-full justify-center items-start xl:relative">
  <div class="w-[95%] pt-5
     md:w-[80%]
     lg:w-[70%]
     xl:w-full xl:pt-0">
    <app-card cardTitle="Forgot your password?"
              [hoverable]="false"
              class="flex flex-col justify-around
        w-[100%]
        xl:absolute lg:top-[20%] xl:right-[10%]
        xl:w-[30rem] xl:h-[30rem] xl:rounded-2xl xl:shadow-xl">

      <p>Please enter your account Email below and you will receive a link to reset your password.</p>
      <!-- Here's the face form control -->
      <form (ngSubmit)="forgotPassword()" #forgotPasswordForm="ngForm" class="h-full">
        <div  class="flex flex-col h-full justify-end">
          <div class="form-group mb-3">
            <input type="email" placeholder="Email" class="input input-bordered input-primary w-full" aria-label="Email"
                   id="email"
                   name="email"
                   [(ngModel)]="dto.email"
                   required>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary w-full mb-10"
                  [disabled]="!forgotPasswordForm.form.valid">
            Submit
          </button>
        </div>
      </form>

    </app-card>
  </div>
</div>

