<div class="grid grid-cols-6 gap-4 grid-rows-8">

  <!-- Current cycle length -->
  <app-card cardTitle="Current cycle length"
            cardBody="Your current cycle is 14 days long."
            class="col-span-2 row-span-2"
  />

  <!-- Current/last period length -->
  <app-card cardTitle="Current/last period length"
            cardBody="Your last period lasted 5 days."
            class="col-span-2 row-span-2"
  />

  <!-- Calendar -->
  <div class="card bg-card text-primary-content col-span-2 row-span-4">
    <div class="card-body">
      <h2 class="card-title">I am a calendar</h2>
      <p>Click here for a detailed overview of your cycle.</p>
    </div>
  </div>

  <!-- Average cycle length -->
  <app-card cardTitle="Average cycle length"
            cardBody="Your average cycle length is 28 days."
            class="col-span-2 row-span-2"
  />

  <!-- Average cycle length -->
  <app-card cardTitle="Average period length"
            cardBody="Your average period length is 5 days."
            class="col-span-2 row-span-2"
  />

  <!-- Overview of the last three cycles -->
  <div class="card bg-card text-primary-content col-span-2 row-span-4">
    <div class="card-body">
      <h2 class="card-title"> Cycle overview </h2>
      <p>Cycle 1</p>
      <p>Cycle 2</p>
      <p>Cycle 3</p>
    </div>
  </div>

  <!-- Metrics -->
  <div class="card bg-card text-primary-content col-span-4 row-span-4">
    <div class="card-body">
      <h2 class="card-title">Metrics</h2>
      <p>I will hold a list</p>
    </div>
  </div>

</div>
