<div class="grid grid-cols-6 gap-4 grid-rows-8">

  <!-- Current cycle length -->
  <div class="card bg-card text-primary-content col-span-2 row-span-2">
    <div class="card-body">
      <h2 class="card-title">Current cycle length</h2>
      <p>Your current cycle is 14 days long.</p>
    </div>
  </div>

  <!-- Current/last period length -->
  <div class="card bg-card text-primary-content col-span-2 row-span-2">
    <div class="card-body">
      <h2 class="card-title">Current/last period length</h2>
      <p>Your last period lasted 5 days.</p>
    </div>
  </div>

  <!-- Calendar -->
  <div class="card bg-card text-primary-content col-span-2 row-span-4">
    <div class="card-body">
      <h2 class="card-title">I am a calendar</h2>
      <p>Click here for a detailed overview of your cycle.</p>
    </div>
  </div>

  <!-- Average cycle length -->
  <div class="card bg-card text-primary-content col-span-2 row-span-2">
    <div class="card-body">
      <h2 class="card-title">Average cycle length</h2>
      <p>Add functionality to me!</p>
    </div>
  </div>

  <!-- Average cycle length -->
  <div class="card bg-card text-primary-content col-span-2 row-span-2">
    <div class="card-body">
      <h2 class="card-title">Average period length</h2>
      <p>I will display data for the upcoming week.</p>
    </div>
  </div>

  <!-- Overview of the last three cycles -->
  <div class="card bg-card text-primary-content col-span-2 row-span-4">
    <div class="card-body">
      <h2 class="card-title"> Cycle overview </h2>
      <p>Cycle 1</p>
      <p>Cycle 2</p>
      <p>Cycle 3</p>
    </div>
  </div>

  <!-- Metrics -->
  <div class="card bg-card text-primary-content col-span-4 row-span-4">
    <div class="card-body">
      <h2 class="card-title">Metrics</h2>
      <p>I will hold a list</p>
    </div>
  </div>

</div>
