<div class="grid grid-cols-6 gap-4 grid-rows-6">

    <div class="card bg-yellow-accent text-primary-content">
      <div class="card-body">
        <h2 class="card-title">Your next period:</h2>
        <p>Your next period is likely to start in the next 5 days.</p>
      </div>
    </div>

  <div class="card bg-card text-primary-content">
    <div class="card-body">
      <h2 class="card-title">Analytics</h2>
      <p>Click here for a detailed overview of your cycle.</p>
    </div>
  </div>

  <div class="card bg-card col-span-2 row-span-2">
    <figure><img src="assets/hot-water-bottle.png" alt="Mascot" /></figure>
  </div>

  <div class="card bg-card text-primary-content col-span-2 row-span-3">
    <div class="card-body">
      <h2 class="card-title">I am a calendar</h2>
      <p>Click here for a detailed overview of your cycle.</p>
    </div>
  </div>

  <div class="card bg-card text-primary-content col-span-2">
    <div class="card-body">
      <h2 class="card-title">Quick add metrics.</h2>
      <p>Add functionality to me!</p>
    </div>
  </div>

  <div class="card bg-card text-primary-content col-span-4">
    <div class="card-body">
      <h2 class="card-title">Quick add metrics.</h2>
      <p>Add functionality to me!</p>
    </div>
  </div>


</div>
