<div class="grid grid-cols-6 gap-4 grid-rows-5">

  <!-- Upcoming period -->
  <app-card cardTitle="Your next period" class="col-span-1 row-span-1">
    <p> I will display data for the upcoming period. </p>
  </app-card>

  <!-- Hot water bottle mascot -->
  <app-card [isTextContent]="false" cardColor="bg-yellow-accent">
    <figure><img src="assets/hot-water-bottle.png" alt="hot water bottle mascot"/></figure>
  </app-card>

  <!-- Metrics -->
  <app-card cardTitle="Metrics"
            class="col-span-2 row-span-2"
  >
    <p>I will track metrics.</p>
  </app-card>

  <!-- Calendar -->
  <div class="card bg-card text-primary-content col-span-2 row-span-3">
    <div class="card-body">
      <h2 class="card-title">I am a calendar</h2>
      <p>Click here for a detailed overview of your cycle.</p>
    </div>
  </div>

  <!-- Analytics -->
  <app-card cardTitle="Analytics"
            class="col-span-2 row-span-1"
  >
    <p>Click here for a detailed overview of your cycle.</p>
  </app-card>

  <!-- Current cycle -->
  <app-card cardTitle="Current cycle"
            class="col-span-4 row-span-1">
    <p>I will display data for the upcoming week.</p>
  </app-card>

  <!-- Medications -->
  <app-card cardTitle="Medication"
            class="col-span-4 row-span-2">
    <ul>
      <li>Medication 1</li>
      <li>Medication 2</li>
      <li>Medication 3</li>
    </ul>
  </app-card>

  <!-- Slay T-rex -->
  <div class="card bg-card col-span-2 row-span-2">
    <figure><img ngSrc="assets/OIG.png" alt="Slay T-rex" height="778" width="778"/></figure>
  </div>

</div>
