/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fc-button-text-color: #000000;
  --fc-button-bg-color: oklch(var(--p));
  --fc-button-border-color: hsl(283, 18%, 70%);
  --fc-button-hover-bg-color: #baabbf;
  --fc-button-hover-border-color: #baabbf;
  --fc-button-active-bg-color: #ac9fb1;
  --fc-button-active-border-color: #ac9fb1;
  --fc-border-color: #d0d0d0;
  --fc-bg-event-opacity: 0.5;
  --fc-today-bg-color: #eeeff1;
  /*--fc-today-bg-color: hsl(158, 55%, 95%); for some reason deletes the border around */
}

.fc-toolbar-chunk {
  @apply flex;
  @apply inline-flex;
  @apply justify-between;
}

.user-profile-input {
  @apply input input-bordered w-full max-w-md lg:max-w-sm mb-2;
}


